<h1>Heroes</h1>
<div class="card-columns">
    <div class="card" *ngFor="let i of heroes">
        <!-- <img class="card-img-top" src="{{i.img}}" alt="Card image cap"> -->
        <img class="card-img-top" [src]="i.img" [alt]="i.nombre">
        <div class="card-body">
            <h5 class="card-title">
                {{i.nombre}}
            </h5>
            <p class="card-text">{{i.bio}}</p>
            <p class="card-text"><small class="text-muted">{{i.aparicion}}</small></p>
            <button class="btn btn-outline-primary btn-block">..More</button>
        </div>
    </div>
</div>